@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", ui-sans-serif, system-ui;
}

.mono {
  font-family: "JetBrains Mono", ui-monospace, monospace;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #cfd2cb; border-radius: 4px; }
